{% extends "base.twig" %}

{% block content %}
  <article>
    <header class="content-grid">
      <div>
        <h1>
          {{title}}
          {% if page_number %}
            <span>(Page {{page_number}})</span>
          {% endif %}
        </h1>
      </div>
    </header>
    <figure>
      <img
        src="{{theme.path}}/images/cham.jpg"
        alt="close up of miniature metallic chameleon standing on a metallic pedestal"
      >
    </figure>
    <div class="content-grid">
      <h2 class="assistive-text">{{sub_title}} List</h2>
      <ul role="list" {{ (is_work_archive) ? 'class="work"' : '' }}>
        {% for post in posts %}
         <li>{% include ['card-'~post.post_type~'.twig', 'card.twig'] %}</li>
        {% endfor %}
      </ul>
      {% include 'pagination.twig' %}
    </div>
  </article>
{% endblock %}