<div class="sans-regular-italic">
	Posted on
	<time datetime="{{ post.date('c') }}">{{ post.date('l, F jS, Y') }}</time>
	|
	  Last Updated on
	<time datetime="{{ post.modified_date('c') }}">{{
    post.modified_date('l, F jS, Y')
  }}</time>
	<span class="author vcard">
		by
		<a class="url fn n" href="{{ post.author.link }}">me</a>
	</span>
	<span class="sans-medium-italic">Reading Time:
		{{ post.reading_time }}
		minute{{
      post.reading_time == 1 ? '' : 's'
    }}</span>
</div>
