<article class="card-{{post.post_type}}" id="card-{{post.ID}}">
  {% block content %}
    <h3>
      <a class="no-offset" href="{{post.link}}">
        <span>
          {{post.title}}
          <span class="sans-bold-italic">{{post.post_excerpt}}</span>
        </span>
      </a>
    </h3>
    <img
      srcset="{{TimberImage(post.get_field('list_image')).src|resize(1200)}} 1200w, {{TimberImage(post.get_field('list_image')).src|resize(600)}} 600w, {{TimberImage(post.get_field('list_image')).src|resize(300)}} 300w, {{TimberImage(post.get_field('list_image')).src|resize(250)}} 250w, {{TimberImage(post.get_field('list_image')).src|resize(150)}} 150w"
      src="{{TimberImage(post.get_field('list_image')).src}}"
      sizes="(min-width:120em) 14vw, (min-width:64em) 20vw, (min-width:40em) 30vw, 90vw"
      alt="{{TimberImage(post.get_field('list_image')).alt}}"
      height="{{TimberImage(post.get_field('list_image')).height}}"
      width="{{TimberImage(post.get_field('list_image')).width}}"
    />
  {% endblock %}
</article>