{% extends "base.twig" %}
{% block content %}
<article id="post-{{ post.ID }}">
  <header>
    <h1 class="assistive-text">Home Page</h1>
    <div class="assistive-text">
      {% include 'byline-page.twig' %}
    </div>
  </header>
  <figure class="hero{{ post.meta('toggle_image_filter') ? ' no-filter' : '' }}">
    <picture>
      <img 
        srcset="{{post.thumbnail.src|resize(2560)|towebp}} 2560w,
                {{post.thumbnail.src|resize(2400)|towebp}} 2400w,
                {{post.thumbnail.src|resize(2230)|towebp}} 2230w,
                {{post.thumbnail.src|resize(2048)|towebp}} 2048w,
                {{post.thumbnail.src|resize(1840)|towebp}} 1840w,
                {{post.thumbnail.src|resize(1600)|towebp}} 1600w,
                {{post.thumbnail.src|resize(1320)|towebp}} 1320w,
                {{post.thumbnail.src|resize(950)|towebp}}  950w,
                {{post.thumbnail.src|resize(300)|towebp}}  300w"
        src="{{ post.thumbnail.src | towebp }}" 
        alt="{{ post.thumbnail.alt }}" 
        width="{{ post.thumbnail.width }}"
        height="{{ post.thumbnail.height }}"
        sizes="(min-width: 2400px) 124em, (min-width: 48.75em) calc(90.38vw - 10.4375em), 100vw"
      />
    </picture>
    <span class="sans-medium-italic" style='--transition-name: {{post.slug }}'>{{ post.title }}</span>
    <a href="#home-content" class="jump-link sans-medium-italic">
      <span aria-hidden="true">&darr;</span>
      <span class="assistive-text">Home content section</span>
    </a>
  </figure>
  <div class="content-grid" id="home-content">
    {{ post.content }}
    <section>
      <h2 id="latest-blog-post">Latest Writing</h2>
      {% for post in home_post %}
      {% include 'card.twig' %}
      {% endfor %}
    </section>
  </div>
</article>
{% endblock %}
