<!DOCTYPE html>
<html class="no-js {{ theme_class }}" {{site.language_attributes}}>

<head>
  <meta charset="{{ site.charset }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {% if wp_title %}
    {{ wp_title }}
    {% else %}
    {{ site.name }}
    {% endif %}
  </title>
  {% if post.thumbnail %}
  <link 
    rel="preload" 
    as="image" href="{{post.thumbnail.src|resize(1594)|towebp}}"
    imagesrcset="{{post.thumbnail.src|resize(300)|towebp}} 300w, 
                 {{post.thumbnail.src|resize(600)|towebp}} 600w,
                 {{post.thumbnail.src|resize(721)|towebp}} 721w,
                 {{post.thumbnail.src|resize(1080)|towebp}} 1080w,
                 {{post.thumbnail.src|resize(1200)|towebp}} 1200w,
                 {{post.thumbnail.src|resize(1410)|towebp}} 1410w,
                 {{post.thumbnail.src|resize(1594)|towebp}} 1594w,
                 {{post.thumbnail.src|resize(1840)|towebp}} 1840w,
                 {{post.thumbnail.src|resize(2000)|towebp}} 2000w,
                 {{post.thumbnail.src|resize(2048)|towebp}} 2048w" 
    imagesizes="{{ is_home ? '(min-width: 2400px) 1984px, (min-width: 780px) calc(90.38vw - 167px), 100vw' : '(min-width:134em) 1605px, (min-width:40em) 66vw, 100vw' }}">
  {% endif %}
  <link rel="preload" href="/typefaces/proxima-vara-roman.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/typefaces/cooper-wght.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/typefaces/cooper-italic-wght.woff2" as="font" type="font/woff2" crossorigin />
  {{ function('wp_head') }}
  <meta name="msapplication-TileColor" content="#0B2F2F" />
  <meta name="theme-color" content="#0B2F2F" />
  <link rel="profile" href="//gmpg.org/xfn/11" />
  <link rel="pingback" href="{{ site.pingback_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👻</text></svg>">
  <link rel="manifest" href="/manifest.json" />
  <meta name="google-site-verification" content="NgzPbjF9JgfD5TItR2dFVwE70g0CN2XOMSnfNgstCtM" />
  <meta name="robots" content="noai, noimageai" />