<!DOCTYPE html>
<html class="no-js {{ theme_class }}" {{site.language_attributes}}>

<head>
  <meta charset="{{ site.charset }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {% if wp_title %}
    {{ wp_title }}
    {% else %}
    {{ site.name }}
    {% endif %}
  </title>
  {% if post.thumbnail %}
  {% if is_home %}
  <link 
    rel="preload" 
    as="image" href="{{post.thumbnail.src}}" 
    imagesrcset="{{post.thumbnail.src|resize(2560)|towebp}} 2560w,
                 {{post.thumbnail.src|resize(2400)|towebp}} 2400w,
                 {{post.thumbnail.src|resize(2230)|towebp}} 2230w,
                 {{post.thumbnail.src|resize(2048)|towebp}} 2048w,
                 {{post.thumbnail.src|resize(1840)|towebp}} 1840w,
                 {{post.thumbnail.src|resize(1600)|towebp}} 1600w,
                 {{post.thumbnail.src|resize(1320)|towebp}} 1320w,
                 {{post.thumbnail.src|resize(950)|towebp}}  950w,
                 {{post.thumbnail.src|resize(300)|towebp}}  300w"
    imagesizes="(min-width: 150em) 124em, (min-width: 48.75em) calc(90.38vw - 10.4375em), 100vw">
  {% else %}
  <link 
    rel="preload" 
    as="image" href="{{post.thumbnail.src}}" 
    imagesrcset="{{post.thumbnail.src|resize(2048)|towebp}} 2048w,
                 {{post.thumbnail.src|resize(1840)|towebp}} 1840w,
                 {{post.thumbnail.src|resize(1605)|towebp}} 1605w,
                 {{post.thumbnail.src|resize(1200)|towebp}} 1200w,
                 {{post.thumbnail.src|resize(300)|towebp}}   300w"
    imagesizes="(min-width: 152.5em) 100.3125em, (min-width: 48.75em) 67.01vw, 100vw">
  {% endif %}
  {% endif %}
  <link rel="preload" href="/typefaces/proxima-vara-roman.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/typefaces/cooper-wght.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/typefaces/cooper-italic-wght.woff2" as="font" type="font/woff2" crossorigin />
  {{ function('wp_head') }}
  <meta name="msapplication-TileColor" content="#0B2F2F" />
  <meta name="theme-color" content="#0B2F2F" />
  <link rel="profile" href="//gmpg.org/xfn/11" />
  <link rel="pingback" href="{{ site.pingback_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="shortcut icon" href="{{ theme.link }}/favicon.ico" type="image/x-icon" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="google-site-verification" content="NgzPbjF9JgfD5TItR2dFVwE70g0CN2XOMSnfNgstCtM" />
  <meta name="robots" content="noai, noimageai" />
