<!doctype html>
<html {{site.language_attributes}}>
<head>
  <meta charset="{{site.charset}}" />
  <title>
    {% if wp_title %}
      {{ wp_title }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#e6edfa"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="//gmpg.org/xfn/11">
  <link rel="pingback" href="{{site.pingback_url}}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="shortcut icon" href="{{ theme.link }}/favicon.ico" type="image/x-icon" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="google-site-verification" content="NgzPbjF9JgfD5TItR2dFVwE70g0CN2XOMSnfNgstCtM" />
  {{function('wp_head')}}
  <link rel="preconnect" href="https://use.typekit.net/ltt0nnt.css">
  <link rel="dns-prefetch" href="https://use.typekit.net/ltt0nnt.css">
  <link rel="preload" href="https://use.typekit.net/ltt0nnt.css" as="style" />
  <link rel="stylesheet" href="https://use.typekit.net/ltt0nnt.css" media="print" onLoad="this.media='all'" />
  <noscript>
    <link rel="stylesheet" href="https://use.typekit.net/ltt0nnt.css">
  </noscript>
  <script>
    window.POST_SETTINGS = {
      posts_per_page: {{posts_per_page}},
      is_dev: {{ is_dev ? 'true' : 'false' }},
      domain: "{{site.url}}"
    }
  </script>