{% extends "base.twig" %}

{% block content %}
<article id="post-{{post.ID}}">
  <div class="hero-grid">
    <header style='--transition-name: {{ post.slug }}'>
      <h1>{{post.title}}</h1>
      {% include 'byline-page.twig' %}
    </header>
    {% include 'featured-image.twig' %}
  </div>
  <div class="content-grid">
    {{post.content|wpautop}}
  </div>
  <section class="content-grid">
    <div class="resume-intro">
      <h2 id="cv">R&eacute;sum&eacute;</h2>
      <a class="action border sans-medium-italic no-offset" href="{{post.meta('file_resume').url}}" download>Download
        <span aria-hidden="true">&rarr;</span>
      </a>
    </div>
    <dl class="resume sans-regular">
      <dt>Skill</dt>
      <dd class="last">
        <p>{{post.skill}}</p>
      </dd>
      <dt>Work</dt>
      {% for job in post.meta('work') %}
      <dd {% if loop.last==true %} class="last" {% endif%}>
        <div>
          {{job.title}}
          <span>
            {% for date in job.dates %}
            <b>
              <time datetime="{{date.start_date}}">{{date.start_date|date('Y')}}</time>
              {% if date.end_date %}
              <time datetime="{{date.end_date}}">&ndash;{{date.end_date|date('Y')}}</time>
              {% else %}&ndash;present
              {% endif %}
            </b>
            {% endfor %}
          </span>
        </div>
        <span class="sans-regular-italic">{{job.company_name}}</span>
        <p>{{job.description}}<a href="http://{{job.company_link}}" rel="noopener"
            target="_blank">{{job.company_link_text}}</a>
        </p>
      </dd>
      {% endfor %}
      <dt>Internship</dt>
      {% for gig in post.meta('internship') %}
      <dd {% if loop.last==true %} class="last" {% endif%}>
        <div>{{gig.title}}
          <span>
            <time datetime="{{gig.date}}">{{gig.date|date('Y')}}</time>
          </span>
        </div>
        <span>{{gig.location}}</span>
      </dd>
      {% endfor %}
      <dt>Education</dt>
      <dd class="last">
        {% for school in post.meta('education') %}
        <div>{{school.school}}
          <span>{{school.degree}}</span>
        </div>
        {% endfor %}
      </dd>
    </dl>
  </section>
  <section class="content-grid">
    <div class="photo-intro">
      <h2 id="photo-feed">Some Drawings</h2>
      <p>Some artwork I have produced. More information in this list of <a href="/blog/category/pixel-art/">pixel art
          posts</a>.</p>
    </div>
    <ul class="photo-feed" role="list">
      {% for item in artwork %}
      <li>
        <img srcset="
                {{item.src|resize(950)|towebp}}   950w,
                {{item.src|resize(882)|towebp}}   882w,
                {{item.src|resize(717)|towebp}}   717w,
                {{item.src|resize(478)|towebp}}   478w
              " 
              width="{{item.width}}" height="{{item.height}}"
              sizes="{{ loop.index % 4 == 0 ? '(min-width: 2500px) 725px, (min-width: 1960px) calc(21.35vw + 196px), (min-width: 1300px) 42.97vw, (min-width: 1220px) calc(48.33vw - 135px), (min-width: 1000px) calc(67vw - 210px), (min-width: 760px) calc(95.45vw - 263px), (min-width: 640px) calc(100vw - 66px), (min-width: 520px) calc(50vw - 34px), calc(100vw - 66px)' : '(min-width: 2500px) 361px, (min-width: 1960px) calc(10.77vw + 94px), (min-width: 1300px) calc(21.56vw - 14px), (min-width: 1220px) calc(23.33vw - 59px), (min-width: 1000px) calc(33vw - 101px), (min-width: 760px) calc(48.18vw - 137px), (min-width: 520px) calc(50vw - 34px), calc(100vw - 66px)"'}}"
              src="{{ item.src }}" 
              alt="{{ item.alt|escape }}"
              loading="lazy"
            >
          </li>
        {% endfor %}
      </ul>
  </section>
</article>
{% endblock %}
