{% extends "base.twig" %}
{% block content %}
  <article id="post-{{post.ID}}">
    <header>
      <h1 class='assistive-text' tabindex="-1">Home Page</h1>
      <time class='assistive-text' datetime="{{post.modified_date|date('c')}}">Last Update on {{post.modified_date|date('l, F jS, Y')}}</time>
    </header>
    <figure>
        <picture>
          <source
            srcset="{{post.get_thumbnail.src|resize(3000)|towebp}} 3000w, {{post.get_thumbnail.src|resize(2000)|towebp}} 2000w, {{post.get_thumbnail.src|resize(1200)|towebp}} 1200w, {{post.get_thumbnail.src|resize(600)|towebp}} 600w, {{post.get_thumbnail.src|resize(300)|towebp}} 300w, {{post.get_thumbnail.src|resize(150)|towebp}} 150w"
            sizes="100vw"
            type="image/webp"
          >
          <source
            srcset="{{post.get_thumbnail.src|resize(3000)}} 3000w, {{post.get_thumbnail.src|resize(2000)}} 2000w, {{post.get_thumbnail.src|resize(1200)}} 1200w, {{post.get_thumbnail.src|resize(600)}} 600w, {{post.get_thumbnail.src|resize(300)}} 300w, {{post.get_thumbnail.src|resize(150)}} 150w"
            sizes="100vw"
          >
          <img src="{{post.get_thumbnail.src}}"
               alt="{{post.get_thumbnail.alt}}"
               width="{{post.get_thumbnail.width}}"
               height="{{post.get_thumbnail.height}}"
          >
        </picture>
      <span class="alpha">{{post.title}}</span>
    </figure>
    <div class="block">
      <div class="content">
        {{post.content}}
      </div>
      <section class="latest">
        <h2>Latest Writing</h2>
        {% for post in home_post %}
          <article>
            {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
          </article>
        {% endfor %}
      </section>
    </div>
  </article>
{% endblock %}