{% extends "base.twig" %}

{% block content %}
  <article class="post-type-{{post.post_type}} site-main site-content__blog" id="post-{{post.ID}}">
    <figure class="wrapper hero-image">
      <img srcset="{{post.get_thumbnail.src | resize(2000)}} 2000w, {{post.get_thumbnail.src | resize(1200)}} 1200w, {{post.get_thumbnail.src | resize(600)}} 600w, {{post.get_thumbnail.src | resize(300)}} 300w, {{post.get_thumbnail.src | resize(150)}} 150w" src="{{post.get_thumbnail.src}}" sizes="(min-width:120em) 62vw, (min-width:64em) 72vw, (min-width:40em) 57vw, 100vw" alt="{{post.get_thumbnail.alt}}">
    </figure>
    <section class="wrapper article-content">
      <h1 class="entry-title">{{post.title}}</h1>
      <div class="site-content__blog__postlist blog_listings">
        {% for post in blog_posts %}
          <h4><a class="linked-header" href="{{post.link}}">{{post.title}}</a></h4>
          <div class="entry-meta">
            <time datetime="{{post.date|date('c')}}">{{post.date|date('l, F jS, Y')}}</time>
          </div>
        {% endfor %} 
      </div>
      <div class="site-content__blog__categories">
        <h2>Categories</h2>
        <ol>
          {% for cat in categories %}
            <li class="cat-item"><a href="{{cat.link}}">{{cat.title}}</a>  (<a href="/blog/category/{{cat.title|lower}}/feed/">RSS</a>)</li>
          {% endfor %}
        </ol>
      </div>
    </section>
  </article>
{% endblock %}