{% extends "base.twig" %}

{% block content %}
    <article id="post-{{post.ID}}">
      <header class="content-grid">
        <div>
          <h1>{{post.title}}</h1>
          <div><time datetime="{{post.modified_date|date('c')}}">Last Updated on {{post.modified_date|date('l, F jS, Y')}}</time></div>
        </div>
      </header>
      <figure>
        {% include 'featured-image.twig' %}
      </figure>
      <div>
        <div class="content-grid">
          {{post.content|wpautop}}
          <div class="contact">
            {{post.contact}}
          </div>
        </div>
        <section class="content-grid">
          <div class="resume-intro">
            <h2 id="cv">R&eacute;sum&eacute;</h2>
            <a class="action border" href="{{post.get_field('file_resume').url}}" download>Download <span aria-hidden="true">&rarr;</span></a>
          </div>
          <dl class="resume">
            <dt>Work</dt>
            {% for job in post.get_field('work') %}
              <dd{% if loop.last == true  %} class="last"{% endif%}>
                <div>
                {{job.title}}
                  <span>
                    {% for date in job.dates %}
                    <b>
                      <time datetime="{{date.start_date}}">{{date.start_date|date('Y')}}</time>{% if date.end_date %}<time datetime="{{date.end_date}}">&ndash;{{date.end_date|date('Y')}}</time>{% else %}&ndash;present{% endif %}
                    </b>
                    {% endfor %}
                  </span>
                </div>
                <span>{{job.company_name}}</span>
                <p>{{job.description}}<a href="http://{{job.company_link}}" rel="noopener" target="_blank">{{job.company_link_text}}</a></p>
              </dd>
            {% endfor %}
            <dt>Internship</dt>
            {% for gig in post.get_field('internship') %}
              <dd{% if loop.last == true  %} class="last"{% endif%}>
                <div>{{gig.title}}  <span><time datetime="{{gig.date}}">{{gig.date|date('Y')}}</time></span></div>
                <span>{{gig.location}}</span>
              </dd>
            {% endfor %}
            <dt>Skill</dt>
              <dd class="last"><p>{{post.skill}}</p></dd>
            <dt>Education</dt>
              <dd class="last">
              {% for school in post.get_field('education') %}
                <div>{{school.school}}  <span>{{school.degree}}</span></div>
              {% endfor %}
              </dd>
            <dt>Interest</dt>
              <dd class="last">
                <ul role="list">
                  {% for hobby in post.get_field('interest') %}
                    <li>{{hobby.item_of_interest}}</li>
                  {% endfor %}
                </ul>
              </dd>
          </dl>
        </section>
        <section class="content-grid">
          <div class="photo-intro">
            <h2 id="photo-feed">Instagram Feed</h2>
            {% if pictures.error %}
              <span class="error">{{pictures.error}}</span>
            {% else %}
              {{post.flickr_field}}
            {% endif %}
          </div>
          {% if not pictures.error %}
          <ul class="photo-feed" role="list">
            {% for picture in pictures %}
              <li>
                {% if picture.media_type != 'VIDEO' %}
                  <img loading="lazy" src="{{picture.media_url}}" alt="{{ (picture.caption) ? picture.caption.text : 'instagram thumbnail' }}">
                {% else %}
                  <video controls playsinline src="{{picture.media_url}}.mp4#t=0.9"></video>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        </section>
      </div>
    </article>
{% endblock %}