{% extends "base.twig" %}

{% block content %}
  <article id="post-{{post.ID}}">
    <div class="hero-grid">
      <header class="{{ (post.thumbnail == null) ? ' no-hero' : '' }}">
        <h1>{{post.title}}</h1>
        <div class="sans-regular-italic">{{function('updated_on')}}</div>
      </header>
      {% if post.thumbnail %}
        {% include 'featured-image.twig' %}
      {% endif %}
    </div>
    <div class="content-grid">
      {{post.content}}
    </div>
  </article>
{% endblock %}