{% extends "base.twig" %}

{% block content %}
    <article class="post-type-{{post.post_type}} site-grid block" id="post-{{post.ID}}">
      <header>
        <h1>{{post.title}}</h1>
      </header>
      <figure>
        <img srcset="{{post.get_thumbnail.src | resize(2000)}} 2000w, {{post.get_thumbnail.src | resize(1200)}} 1200w, {{post.get_thumbnail.src | resize(600)}} 600w, {{post.get_thumbnail.src | resize(300)}} 300w, {{post.get_thumbnail.src | resize(150)}} 150w" src="{{post.get_thumbnail.src}}" sizes="(min-width:120em) 62vw, (min-width:64em) 72vw, (min-width:40em) 66vw, 100vw" alt="{{post.get_thumbnail.alt}}" data-thumb='{{post.get_thumbnail.src | resize(100)}}'>
      </figure>
      <div class="content">
        {{post.content|wpautop}}
      </div>
      <div class="contact">
        {{post.contact}}
      </div>
      <section class="resume-section" aria-labelledby="cv">
        <h2 id="cv">R&eacute;sum&eacute;</h2>
        <a class="action" href="{{post.get_field('file_resume').url}}" download>Download</a>
        <dl class="resume">
          <dt>Work</dt>
          {% for job in post.get_field('work') %}
            <dd>
              <div class="delta">
              {{job.title}}
                <span>
                  <time datetime="{{job.date_start}}">{{job.date_start}}</time>{% if job.date_end %}<time datetime="{{job.date_end}}">&ndash;{{job.date_end}}</time>{% else %}&ndash;present{% endif %}
                </span>
              </div>
              <span class="company-name">{{job.company_name}}</span>
              <p>{{job.description}}<em><a href="http://{{job.company_link}}" rel="noopener" target="_blank">{{job.company_link_text}}</a></em></p>
            </dd>
          {% endfor %}
          <dt>Internship</dt>
          {% for gig in post.get_field('internship') %}
            <dd>
              <div class="delta">{{gig.title}}  <span><time datetime="{{gig.date}}">{{gig.date}}</time></span></div>
              <span class="internship-location">{{gig.location}}</span>
            </dd>
          {% endfor %}
          <dt>Skill</dt>
            <dd><p>{{post.skill}}</p></dd>
          <dt>Education</dt>
            <dd>
            {% for school in post.get_field('education') %}
              <div class="delta">{{school.school}}  <span>{{school.degree}}</span></div>
            {% endfor %}
            </dd>
          <dt>Interest</dt>
            <dd>
              <ul>
                {% for hobby in post.get_field('interest') %}
                  <li>{{hobby.item_of_interest}}</li>
                {% endfor %}
              </ul>
            </dd>
        </dl>
      </section>
      <section class="instagram-section" aria-labelledby="instagram-feed">
        <div>
          <h2 id="instagram-feed">Instagram Feed</h2>
          {{post.flickr_field}}
        </div>
        <ul class="photo-feed">
          {% for picture in pictures.data %}
          {% if loop.index < 21 %}
            <li>
              <img src="{{picture.images.low_resolution.url}}" alt="{{ (picture.caption) ? picture.caption.text : 'instagram thumbnail' }}">
            </li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
    </article>
{% endblock %}