{% extends "base.twig" %}

{% block content %}
  <article id="post-{{post.ID}}">
    <div class="hero-grid">
      <header style='--transition-name: {{ post.slug }}' {{ (post.thumbnail == null) ? ' class="no-hero"' : '' }}>
        <h1>{{post.title}}</h1>       
        {% include 'byline-page.twig' %}
      </header>
      {% if post.thumbnail %}
        {% include 'featured-image.twig' %}
      {% endif %}
    </div>
    <div class="content-grid">
      {{post.content}}
    </div>
  </article>
{% endblock %}
