{% extends "base.twig" %}

{% block content %}
  <article class="post-type-{{post.post_type}} site-grid block" id="post-{{post.ID}}">
    <header>
      <h1>{{post.title}} {% if page_number %}<span>(Page {{page_number}})</span>{% endif %}</h1>
      <div class="entry-meta assistive-text">
        <time datetime="{{post.modified_date|date('c')}}">Last Update on {{post.modified_date|date('l, F jS, Y')}}</time>
      </div>
    </header>
    <figure>
      <img
        srcset="{{post.get_thumbnail.src | resize(2000)}} 2000w, {{post.get_thumbnail.src | resize(1200)}} 1200w, {{post.get_thumbnail.src | resize(600)}} 600w, {{post.get_thumbnail.src | resize(300)}} 300w, {{post.get_thumbnail.src | resize(150)}} 150w"
        src="{{post.get_thumbnail.src}}"
        sizes="(min-width: 2760px) 1339px, (min-width: 1920px) calc(32.93vw + 437px), (min-width: 640px) 66.43vw, 100vw"
        alt="{{post.get_thumbnail.alt}}"
      >
    </figure>
    <div class="content">
      {{post.content}}
    </div>
    <section class="post-list" aria-labelledby="post-list">
      <h2 id="post-list" class="assistive-text">Blog Posts</h2>
      {% for post in blog_posts %}
        <article>
          <h3 class="delta"><a class="linked-header" href="{{post.link}}">{{post.title}}</a></h3>
          <div class="entry-meta">
            <time datetime="{{post.date|date('c')}}">{{post.date|date('l, F jS, Y')}}</time>
          </div>
        </article>
      {% endfor %}
      {% include 'pagination.twig' %}
    </section>
    <section class="categories" aria-labelledby="categories">
      <h2 class="gamma" id="categories">Categories</h2>
      <ol>
        {% for cat in categories %}
          <li class="cat-item"><a href="{{cat.link}}">{{cat.title}}</a>  (<a href="/blog/category/{{cat.title|lower}}/feed/">RSS</a>)</li>
        {% endfor %}
      </ol>
    </section>
  </article>
{% endblock %}