<div class="sans-bold-italic pagination{{pagination.prev.link|length == 0 and pagination.next.link|length == 0 ? ' no-results' : ''}}">
  {% if pagination.prev %}
    <a href="{{pagination.prev.link}}"
       class="no-offset {{pagination.prev.link|length ? '' : 'invisible'}}">
       Prev <span class="assistive-text">Page</span>
    </a>
  {% endif %}
  {% for page in pagination.pages %}
    {% if page.link %}
      <a class="no-offset" href="{{page.link}}">
       <span class="assistive-text">Page</span> {{page.title}}
    </a>
    {% else %}
      <span class="{{page.class}}">
       <span class="assistive-text">Page</span> {{page.title}}
    </span>
    {% endif %}
  {% endfor %}
  {% if pagination.next %}
    <a
      href="{{pagination.next.link}}"
      class="no-offset {{pagination.next.link|length ? '' : 'invisible'}}">
      Next <span class="assistive-text">Page</span>
    </a>
  {% endif %}
</div>
