{% extends "base.twig" %}

{% block content %}
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <div class="hero-grid">
    <header class="{{ (post.thumbnail == null) ? ' no-hero' : '' }}">
      <h1>{{post.title}}</h1>
      <div class="sans-regular-italic">
        {{function('special_posted_on')}}
        <span>Reading Time: {{post.reading_time}} minute{{ (post.reading_time == 1) ? '' : 's' }}</span>
      </div>
    </header>
    {% if post.thumbnail %}
      {% include 'featured-image.twig' %}
    {% endif %}
    </div>
    <div class="content-grid">
      {{post.content}}
      <footer class="sans-regular-italic">
        {{function('special_entry_footer')}}
      </footer>
      {{post.post_nav}}
      {% if (function('comments_open')) or (function('get_comments_number')) %}
        {{ function( 'comments_template' ) }}
      {% endif %}
    </div>
  </article>
{% endblock %}
