{% extends "base.twig" %}

{% block content %}
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <div class="hero-grid">
    <header style='--transition-name: {{ post.slug }}' {{ (post.thumbnail == null) ? ' class="no-hero"' : '' }}>
      <h1>{{post.title}}</h1>
      {% include 'byline.twig' %}
    </header>
    {% if post.thumbnail %}
      {% include 'featured-image.twig' %}
    {% endif %}
    </div>
    <div class="content-grid">
      {% if post.toc|length >= 2 %}
        <details id="toc" class="toc sans-bold-italic">
          <summary>Table of Contents</summary>
          <nav aria-label="Table of Contents">
            <ol role="list">
            {% for link in post.toc %}
              <li>{{link}}</li>
            {% endfor %}
            </ol>
          </nav>
        </details>
      {% endif %} 
      {{post.content}}
      <footer class="sans-regular-italic">
        {{function('special_entry_footer')}}
      </footer>
      {{post.post_nav}}
      {% if (function('comments_open')) or (function('get_comments_number')) %}
        {{ function( 'comments_template' ) }}
      {% endif %}
      {% if post.toc|length >= 2 %}
      <a href="#toc" class="back-to-toc sans-bold-italic no-offset">Back to Table of Contents</a>
      {% endif %}
    </div>
  </article>
{% endblock %}
