{% extends "base.twig" %}

{% block content %}
  <article class="post-type-{{post.post_type}} site-grid block" id="post-{{post.ID}}">
    <header>
      <h1>{{post.title}}</h1>
      {{function('special_posted_on')}}
    </header>
    <figure {% if post.get_field('toggle_image_filter') %} class="no-filter"{% endif %}>
      {% include 'featured-image.twig' %}
    </figure>
    {{post.content}}
    <footer class="entry-footer">
      {{function('special_entry_footer')}}
    </footer>
    {{post_nav}}
    {% if (function('comments_open')) or (function('get_comments_number')) %}
      {{ function( 'comments_template' ) }}
    {% endif %}
  </article>
{% endblock %}
