{% extends "base.twig" %}
{% block content %}
  <article id="post-{{post.ID}}">
    <header class="content-grid">
      <h1>{{post.title}}</h1>
    </header>
    <figure>
      {% include 'featured-image.twig' %}
    </figure>
    <div>
      {% if post.main_image_square %}
        <div class="content-grid">
          {{post.content}}
          <strong class="meta">Filed in: {{post.post_excerpt}}</strong>
        </div>
        <div class="content-grid">
          <div class="media">
            <img src="{{TimberImage(post.get_field('main_image_square')).src}}" sizes="(min-width:64em) 66vw, (min-width:40em) 85vw, 90vw" alt="<?php echo $alt_square ?>">
            <a class="action border no-offset sans-bold-italic" href="/work/">&larr; Back to List</a>
          </div>
        </div>
        {% if post.square_image_optional %}
          <div class="media" class="content-grid">
            <div>
              <img src="{{TimberImage(post.get_field('main_image_square_optional')).src}}" sizes="(min-width:64em) 66vw, (min-width:40em) 85vw, 90vw" alt="<?php echo $alt_square_opt; ?>"
              <a class="action border no-offset sans-bold-italic" href="/work/">&larr; Back to List</a>
            </div>
          </div>
        {% endif %}
      {% else %}
        <div class="content-grid">
          {{post.content}}
          {% if post.project_url %}
            <a class="action border no-offset sans-bold-italic" href={{post.project_url}}>Launch Project</a>
          {% endif %}
          <strong class="meta sans-bold">Filed in: {{post.post_excerpt}}</strong>
        </div>
        <div class="content-grid">
          <div class="media">
            <img src="{{TimberImage(post.get_field('main_image_rectangle')).src}}" alt="{{TimberImage(post.get_field('main_image_rectangle')).src}}" />
            <a class="action border no-offset sans-bold-italic" href="/work/">&larr; Back to List</a>
          </div>
        </div>
      {% endif %}
    </div>
  </article>
{% endblock %}
