{% extends "base.twig" %}
{% block content %}
  <article class="post-type-{{post.post_type}} site-grid block" id="post-{{post.ID}}">
    <header>
      <h1 tabindex="-1">{{post.title}}</h1>
    </header>
    <figure>
      <picture>
        <source srcset="{{post.get_thumbnail.src|resize(2000)|towebp}} 2000w, {{post.get_thumbnail.src|resize(1200)|towebp}} 1200w, {{post.get_thumbnail.src|resize(600)|towebp}} 600w, {{post.get_thumbnail.src|resize(300)|towebp}} 300w, {{post.get_thumbnail.src|resize(150)|towebp}} 150w"
                sizes="(min-width:120em) 62vw, (min-width:64em) 72vw, (min-width:40em) 66vw, 100vw"
                type="image/webp"
                loading="lazy"
        >
        <source srcset="{{post.get_thumbnail.src|resize(2000)}} 2000w, {{post.get_thumbnail.src|resize(1200)}} 1200w, {{post.get_thumbnail.src|resize(600)}} 600w, {{post.get_thumbnail.src|resize(300)}} 300w, {{post.get_thumbnail.src|resize(250)}} 250w, {{post.get_thumbnail.src|resize(150)}} 150w"
                sizes="(min-width:120em) 62vw, (min-width:64em) 72vw, (min-width:40em) 66vw, 100vw"
                type="image/webp"
                loading="lazy"
        >
        <img src="{{post.get_thumbnail.src}}"
             alt="{{post.get_thumbnail.alt}}"
             width="{{post.get_thumbnail.width}}"
             height="{{post.get_thumbnail.height}}"
             loading="lazy"
        >
      </picture>
    </figure>
    <div class="content">
      {% if post.main_image_square %}
        <div class="copy">
          {{post.content}}
          <strong>Filed in: {{post.post_excerpt}}</strong>
        </div>
        <div class="portfolio-item">
          <img src="{{TimberImage(post.get_field('main_image_square')).src}}" srcset="" sizes="(min-width:64em) 66vw, (min-width:40em) 85vw, 90vw" alt="<?php echo $alt_square ?>">
          <a class="action back-link" href="/portfolio/">&larr; Back to List</a>
        </div>
        {% if post.square_image_optional %}
        <div class="portfolio-item">
          <img src="{{TimberImage(post.get_field('main_image_square_optional')).src}}" srcset=" 1300w, 800w,  550w" sizes="(min-width:64em) 66vw, (min-width:40em) 85vw, 90vw" alt="<?php echo $alt_square_opt; ?>"
          <a class="action" href="/portfolio/">&larr; Back to List</a>
        </div>
        {% endif %}
      </div>
      {% else %}
        <div class="copy">
          {{post.content}}
          <strong>Filed in: {{post.post_excerpt}}</strong>
        </div>
        <div class="portfolio-item iphone">
          <img src="{{TimberImage(post.get_field('main_image_rectangle')).src}}" alt="{{TimberImage(post.get_field('main_image_rectangle')).src}}" />
          <a class="action" href="/portfolio/">&larr; Back to List</a>
        </div>
      {% endif %}
    </div>
  </article>
{% endblock %}