<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
  {% block content %}
    <h3 class="delta"><a class="linked-header" href="{{post.link}}">{{post.title}}</a></h3>
    <time datetime="{{post.date|date('c')}}">{{post.date|date('l, F jS, Y')}}</time>
  {% endblock %}
</article>