<article id="tease-{{post.ID}}">
  {% block content %}
    <h3><a href="{{post.link}}">{{post.title}}</a></h3>
    <time datetime="{{post.date|date('c')}}">{{post.date|date('l, F jS, Y')}}</time>
  {% endblock %}
</article>