<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
  {% block content %}
    <a href="{{post.link}}">
      <h3>
        <span>{{post.title}}</span>
        <span class="assistive-text">, project category is</span>
        <em>{{post.post_excerpt}}</em>
      </h3>
      <img
        srcset="{{TimberImage(post.get_field('list_image')).src|resize(1200)}} 1200w, {{TimberImage(post.get_field('list_image')).src|resize(600)}} 600w, {{TimberImage(post.get_field('list_image')).src|resize(300)}} 300w, {{TimberImage(post.get_field('list_image')).src|resize(250)}} 250w, {{TimberImage(post.get_field('list_image')).src|resize(150)}} 150w"
        src="{{TimberImage(post.get_field('list_image')).src}}"
        sizes="(min-width:120em) 14vw, (min-width:64em) 20vw, (min-width:40em) 30vw, 90vw"
        alt="{{TimberImage(post.get_field('list_image')).alt}}"
        height="{{TimberImage(post.get_field('list_image')).height}}"
        width="{{TimberImage(post.get_field('list_image')).width}}"
      />
    </a>
  {% endblock %}
</article>